# FlyFile Environment Configuration

# Server Configuration
VITE_SERVER_URL=https://flyfile-production.up.railway.app
PORT=3001
HOST=0.0.0.0
VITE_STUN_SERVER_1=stun:stun.l.google.com:19302
VITE_STUN_SERVER_2=stun:stun1.l.google.com:19302
VITE_TURN_SERVER=turn:relay1.expressturn.com:3480
VITE_TURN_USERNAME=000000002074331481
VITE_TURN_CREDENTIAL=hhxCLTIV9p31Dqel7HZc1C/47W0=
# Environment
NODE_ENV=development
