# FlyFile Environment Configuration

# Server Configuration
VITE_SERVER_URL=https://flyfile-production.up.railway.app
PORT=3001
HOST=0.0.0.0
VITE_STUN_SERVER_1=stun:stun.l.google.com:19302
VITE_STUN_SERVER_2=stun:stun1.l.google.com:19302
VITE_TURN_SERVER=turn:global.relay.metered.ca:80
VITE_TURN_USERNAME=3847967e4150fef3e4dd82ef
VITE_TURN_CREDENTIAL=dbU3LKfYG1piYJV7
# Environment
NODE_ENV=development
